@layer base {
  @font-face {
    font-family: 'Brother-1816';
    src: url('/api/fonts/brother-1816/brother-1816-book.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'Brother-1816';
    src: url('/api/fonts/brother-1816/brother-1816-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'Brother-1816';
    src: url('/api/fonts/brother-1816/brother-1816-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/api/fonts/ibm-plex-mono/ibm-plex-mono-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/api/fonts/ibm-plex-mono/ibm-plex-mono-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
  }
}
